


.index_nick_display{
	position:absolute;
	top: 10px;
	left: 1100px;
	z-index:20;
	font-family:Arial;
}

.chart_history{
	position:absolute;
	top: 500px;
	left: 165px;
	width:900px;
	
}

.button_div{
	text-shadow: rgb(58, 99, 154) 0px -1px 1px;
	color: rgb(255, 255, 255);
	float: right;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	top: 0px;
	text-align: center;
	vertical-align: middle;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: rgb(224, 233, 243) rgb(58, 99, 154) rgb(58, 99, 154)
		rgb(224, 233, 243);
}